.sidebar-content-container {
  width: 25%;
  max-width: 300px;
  min-width: 250px;
}
.aside-link-text {
  font-size: 12px;
}

.featured-collections {
  padding: 10px;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px;
  h3 {
    margin-top: 0;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #0000EE;
  }
}

.featured-collections-button {
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #504105;
  box-shadow: 0px 2px 0px 0px #ccc;
  color: white;
  border-radius: 4px;
  width: 160px;
  height: 30px;
  font-size: 14px;
}

.discover-your-story {
  padding: 5px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: #brown;
  text-align: justify;
  h3 {
    margin-top: 0;
  }
  p {
    font-size: 14px;
  }
}

.featured-subscribe-button {
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  background: #504105;
  box-shadow: 0px 2px 0px 0px #ccc;
  color: white;
  border-radius: 4px;
  width: 130px;
  height: 30px;
  font-size: 14px;
}
